.navegacion{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    flex-wrap: nowrap;
}

@media (max-width:1000px){
    .navegacion{
        flex-direction: column;
        
      
    }
}
.link{
    margin: 0 20px;
    list-style: none;
    align-self: center;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    
    font-size: 22px;
    
    color: #D27FFF;
    
}



.link:hover{
    color: #ffff;
    transition: ease-in-out 0.4s;
}




