.cartWidget{
    
    background-color: #662D91;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    max-width: 70px;
    margin: 0 0 0 85%;
}

.cartWidget svg{
    margin: 0 auto;
}

@media (max-width:1000px){
    .cartWidget{
        margin-top: 50px;
    }
}