.header{
    display: flex;
    background: linear-gradient(
        to bottom right,
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.1)
    );
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 98%;
    margin: 0 auto;
    border-radius: 20px;
    flex-wrap: wrap;
}

@media (max-width: 1000px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
}




.logo{
    width: 40%;
   justify-items: flex-start;
}

@media (max-width: 1000px){
    .logo{
        margin-bottom: 50px;
    }
}


