.contenedorCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(
        to bottom right,
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.1)
    );
    border-radius: 20px;
    margin: 20px 20px;
}

.imgCart{
    width: 20%;
}

h2, h5{
    color: white;
    
}

.cartProductText{
  margin: 0 auto;
}



.formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.input{
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    text-indent: 10px;

}

.btn{
    color: #ffff  !important;
    background-color: rgb(102, 45, 145)!important;
   
}

.btn-margin{
    margin: 0 10px;
}

.btn-finalizar{
    margin: 40px 0;
}

.btn-form{
    margin: 40px 0;
}

.delete{
    margin-right: 30px;
    background-color: transparent;
    border: none;
}