.itemCounter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

.btn{
    color: #ffff  !important;
    background-color: rgb(102, 45, 145)!important;
}