.cardList{
    display: flex;
  justify-content: center;
  margin: 20px 0;
  
}

.nombre{
 margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  
}

.card{
  background: black;
  
}

.btn{
  color: #ffff  !important;
  background-color: rgb(102, 45, 145)!important;
  justify-self: center;
}